astroid==2.11.5
colorama==0.4.5
gunicorn==20.1.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysql-connector-python==8.0.29
Pillow==9.2.0
protobuf==3.20.1
python-http-client==3.3.7
sendgrid==6.9.7
six==1.16.0
starkbank-ecdsa==2.0.3
toml==0.10.2
wrapt==1.14.1
flask
Flask
mariadb
